<tr class="table-info">
    <th class="text-center" colspan="100%">Module 6: Algorithms in Data Science</th>
</tr>
<tr>
    <td>10/31</td>
    <td>Association Rule Learning</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>11/2</td>
    <td>Decision Trees</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>11/7</td>
    <td>Ensemble Methods</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>11/9</td>
    <td>Anomaly Detection</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
