<tr class="table-info">
    <th class="text-center" colspan="100%">Module 4: Big Data Engineering</th>
</tr>
<tr>
    <td>10/12</td>
    <td>Big Data Processing</td>
    <td></td>
    <td>
        Collaborative Filtering with Public Movie Review Data
    </td>
    <td></td>
</tr>
<tr>
    <td>10/17</td>
    <td>DB Scalability and Other Options</td>
    <td></td>
    <td>Big Data ETL</td>
    <td></td>
</tr>
<tr>
    <td>10/19</td>
    <td>Data Engineering Overview</td>
    <td></td>
    <td>
        Analyze clickstream data from the course website.
    </td>
    <td></td>
</tr>
