<tr class="table-info">
    <th class="text-center" colspan="100%">Module 7: Communicating Analytics</th>
</tr>
<tr>
    <td>11/14</td>
    <td>Project Proposals</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>11/16</td>
    <td>
        <a href="https://drive.google.com/file/d/0Bze55lezLJhITWROdV9PNEE2RGs/view">
            Visualization
        </a>
    </td>
    <td></td>
    <td>
        <a href="https://cs.brown.edu/courses/csci1951-a/assignments/d3_lab.html">
            Intro to Data Visualization - D3
        </a>
    </td>
    <td></td>
</tr>
