<tr class="table-info">
    <th class="text-center" colspan="100%">Module 2: Data Science Crash Course</th>
</tr>
<tr>
    <td>9/19</td>
    <td>ML Crash Course</td>
    <td></td>
    <td>Classifying Iris Flowers</td>
    <td></td>
</tr>
<tr>
    <td>9/21</td>
    <td>ML in Practice</td>
    <td></td>
    <td>Detecting Fake Reviews</td>
    <td></td>
</tr>
<tr>
    <td>9/26</td>
    <td>Data Exploration</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>9/28</td>
    <td>Data Preparation</td>
    <td></td>
    <td>Cleaning Ugly data with Regex and Co.</td>
    <td></td>
</tr>
