<tr class="table-info">
    <th class="text-center" colspan="100%">Module 9: Deep Learning Overview</th>
</tr>
<tr>
    <td>11/28</td>
    <td>Intro to Neural Networks</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>11/30</td>
    <td>Tuning Neural Nets</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>12/5</td>
    <td>RNNs</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>12/7</td>
    <td>Deep Learning in Practice</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
