/* General */
html *
{
   font-family: 'Open Sans', sans-serif;;
}

#bootstrap-overide html {
    min-height: 100%;
}

#bootstrap-overide body {
    background: white;
}
#bootstrap-overide th {
    border-bottom: 2px solid #b71c1c;
}
#bootstrap-overide a {
    color: #EC407A;
    text-decoration: none;
    -webkit-transition: all .5s ease-in;
    border-bottom: 1px solid transparent;
}

#bootstrap-overide a:hover {
    color: #b71c1c;
    border-bottom: 1px solid #b71c1c;
}

/* Red Background */

.jumbotron-data1030 {
    background: linear-gradient(to bottom left, #b71c1c, #EC407A);
    color: white;
    text-decoration: none;
}

/* Course Schedule Table */
.data1030-cs {
    color: white;
    background-color: #b71c1c;
}

.data1030-ml {
    color: white;
    background-color: #EC407A;
}

.data1030-both {
    color: white;
    background: linear-gradient(to left, #b71c1c, #EC407A);
}

.data1030-table {
}

.data1030-table th,
.data1030-table td {
    border-width: 0;
    text-align: center;
}

.data1030-table a {
    text-decoration: none;
}

.google-iframe {
    width: 75%;
    display: block;
    height: 1500px;
    margin: 0 auto;
    overflow: hidden;   
    
}

