html,
body {
    height: 100%;
    background: #f2f2f2;
    font-family: "PT Serif", serif;
}

a {
    color: inherit;
    border-bottom:1px solid transparent;
    text-decoration:none;
    -webkit-transition:all .5s ease-in;
}

a:hover {
    color: #9b9b9b;
    border-bottom:1px solid #9b9b9b;
}

nav {
    background-color: #fffffc;
}