/* General */

html {
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom right, #FFECB3, #ffcdd2);
    font-family: 'Open Sans', sans-serif;
}

/* Link Animations */

/* Navbar */

.navbar-light a {
    color: inherit;
}

.navbar-light a:hover {
    color: #b71c1c;
    border-bottom: 1px solid #b71c1c;
}

/* Links within bootstrap containers */

.container a {
    text-decoration: none;
    -webkit-transition: all .5s ease-in;
}

.container a:hover {
    color: #b71c1c;
    border-bottom: 1px solid #b71c1c;
}

/* Red Background */

.brown,
.brown a {
    background: #b71c1c;
    color: #FAFAFA;
    border-radius: .3rem;
    border-width: 0;
    text-decoration: none;
}

.brown a:hover {
    color: #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
}


/* Course Schedule Table */

.data1030-table th,
.data1030-table td {
    text-align: center;
    border-width: 0px;
}

.data1030-table a {
    text-decoration: none;
}