{{ partial "header.html" . }}
<div class="container">
    {{ .Content }}
    <!--
    <h1>Course Schedule</h1>
    <h6>Last Updated: 6/28/17</h6>
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Topic</th>
                <th>Notes</th>
                <th>Lab</th>
                <th>Announcements</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Site.Data.schedule.rows }}
                {{ if .module }}
                <tr>
                    <td class="brown" colspan="100%" align="center">
                        {{ .module }}
                    </td>
                </tr>
                {{ else }}
                <tr>
                    <td>{{ .date }}</td>
                    <td>{{ .topic }}</td>
                    <td>{{ .notes }}</td>
                    <td>{{ .lab }}</td>
                    <td>{{ .announcements }}</td>
                </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
    -->
</div>
{{ partial "footer.html" . }}
