{{ partial "header.html" . }}
<div class="container">
    <h1>Course Schedule</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Date</th>
                <th>Topic</th>
                <th>Notes</th>
                <th>Lab</th>
                <th>Assignment</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <th class="text-center" colspan="100%">Module 0: Data Science Overview</th>
            </tr>
            <tr>
                <td>9/7</td>
                <td>Course Overview</td>
                <td></td>
                <td>Intro to Data Science</td>
                <td></td>
            </tr>
            {{ partial "modules/cs-overview.html" . }}
            {{ partial "modules/data-science.html" . }}
            {{ partial "modules/data-management.html" . }}
            {{ partial "modules/big-data.html" . }}
            {{ partial "modules/topics-in-data.html" . }}
            {{ partial "modules/algorithms.html" . }}
            {{ partial "modules/communication.html" . }}
            {{ partial "modules/topics-in-algorithms.html" . }}
            {{ partial "modules/deep-learning.html" . }}
        </tbody>
    </table>
</div>
{{ partial "footer.html" . }}
